
ul {
    line-height: 150%;
    margin: 5px;
}

h1 {
    margin-top: 10px;
    font-weight: normal;
    letter-spacing: 4px;
}

h2 {
    font-weight: normal;
    margin-top: 10px;
    letter-spacing: 3px;
}

h3 {
    font-weight: normal;
    letter-spacing: 2px;
    margin-bottom: 8px;
}